@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveUpDown {
    0%,
    100% {
        opacity: 0;
        transform: translateY(-6px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleInOut {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin 2s linear infinite;
}

.animate-fade-in-out {
    animation: fadeInOut 2s ease-in-out infinite;
}

.animate-move-up-down {
    animation: moveUpDown 2s linear infinite;
}

.animate-scale-in-out {
    animation: scaleInOut 2s ease-in-out infinite;
}
