.trade-modal .ant-modal .ant-modal-content {
  border-radius: 13px !important;
  padding: 0px !important;
}

.trade-modal.ant-modal .ant-modal-close {
  top: 22px;
  right: 25px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

/* .ant-modal .ant-modal-content {
  border-radius: 13px !important;
  padding: 32px;
} */


/* .ant-modal .ant-modal-content {
  border-radius: 13px !important;
  padding: 32px;
} */


@media(
   max-width: 640px 
) {
 .ant-modal .ant-modal-content {
    padding: 20px !important;
  }
}

@media(
   max-width: 360px 
) {
 .ant-modal .ant-modal-content {
    padding: 12px !important;
  }
}

.keble-modal.ant-modal .ant-modal-close {
  top: 22px;
  padding: 8px;
  right: 25px;
  display: flex;
  justify-content: flex-end;
}

.zero-padding .ant-modal .ant-modal-close:hover,
.trade-modal.ant-modal .ant-modal-close:hover,
.keble-modal.ant-modal .ant-modal-close:hover,
.ant-modal .ant-modal-close:hover {
  color: rgba(0, 0, 0, 0.88) !important;
  background-color: transparent !important;
}
