.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #259792 !important;
}

.ant-tabs-tab-btn {
    color: #4B5563 !important;
    font-size: 14px;
}

.ant-tabs .ant-tabs-ink-bar{
    background: #259792 !important;
}